<h1>Qui suis-je?</h1>
<div class="biopro">
  <div class="row firstrow">
    <div class="col-md-6 para">
      <p [@myAwesomeAnimation]='state' id="para">Bonjour !!! Je m'appelle
        <audio id="player" src="assets/saymyname.mp3"></audio>
          <a mdTooltip='Appuyer ici' mdTooltipPosition="above" id="play" (click)="play()"><i class="fa fa-play"></i></a>
             serlep sherab wangchuk,
             Je suis un web developpeur,
             J'ai 25 ans, J'habite à Paris origine du Tibet, Passionné de développement depuis toujours.
             J'adore créer des sites simples, fluides, responsive et ergonomiques.
      </p>
    </div>
    <div class="col-md-6">
      <img [@myAnimation]='state' (click)='animateMe()' id='mypic' src="assets/mypic.jpg" alt="mypic">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 svg">
      <svg class="arrows">
    				<path class="a1" d="M0 0 L30 32 L60 0"></path>
    				<path class="a2" d="M0 20 L30 52 L60 20"></path>
    				<path class="a3" d="M0 40 L30 72 L60 40"></path>
    	</svg>
    </div>
  </div>
  <div class="row">
    <h2 id="cptheading">Mes compétences</h2>
    <div class="heading">
      <h3 id="cptpara">Voici la liste des compétences que j'ai acquises.</h3>
    </div>
    <div class="competance col-md-12">
      <img mdTooltip='Angular' mdTooltipPosition="left" src="assets/angular.png" alt="angularjs">
      <img mdTooltip='Bash' mdTooltipPosition="above" src="assets/bash.png" alt="bash">
      <img mdTooltip='Bootstrap' mdTooltipPosition="above" src="assets/bootstrap.jpg" alt="bootstrap">
      <img mdTooltip='CakePHP' mdTooltipPosition="above" src="assets/cakephp.png" alt="cakephp">
      <img mdTooltip='Cordova' mdTooltipPosition="above" src="assets/cordova.png" alt="cordova">
      <img mdTooltip='CSS3' mdTooltipPosition="above" src="assets/css3.png" alt="css3">
      <img mdTooltip='Git' mdTooltipPosition="above" src="assets/git.png" alt="git">
      <img mdTooltip='HTML5' mdTooltipPosition="above" src="assets/html5.png" alt="html">
      <img mdTooltip='jQuery' mdTooltipPosition="above" src="assets/jquery.png" alt="jquery">
      <img mdTooltip='JavaScript' mdTooltipPosition="above" src="assets/js.png" alt="js">
      <img mdTooltip='Laravel' mdTooltipPosition="below" src="assets/laravel.png" alt="laravel">
      <img mdTooltip='Linux' mdTooltipPosition="below" src="assets/linux.png" alt="linux">
      <img mdTooltip='Materialize' mdTooltipPosition="below"src="assets/materializecss.png" alt="materialize">
      <img mdTooltip='MongoDB' mdTooltipPosition="below" src="assets/mongodb.png" alt="mongodo">
      <img mdTooltip='MySQL' mdTooltipPosition="below" src="assets/MySQL.png" alt="mySQL">
      <img mdTooltip='Nodejs' mdTooltipPosition="below" src="assets/nodejs.png" alt="nodejs">
      <img mdTooltip='php' mdTooltipPosition="below" src="assets/php7.png" alt="php">
      <img mdTooltip='Sailsjs' mdTooltipPosition="below" src="assets/sailsjs.png" alt="sailsjs">
      <img mdTooltip='Socketjs' mdTooltipPosition="below" src="assets/socket.gif" alt="socket">
      <img mdTooltip='Symfony' mdTooltipPosition="right" src="assets/symfony.png" alt="symfony">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 cv">
        <h3>Plus de l'information télécharger mon CV</h3>
          <a href="assets/moncv.pdf" class="button">.PDF</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 footer">
      <p>Copyright @ 2017 - Tous droits reservés -</p>
    </div>
  </div>
</div>
