<h1>Mes Projects</h1>
<div class="row project">
  <div class="col-md-6 firstblog">
      <img id="desktop" src="assets/firstblogdesktop.png" alt="desktop">
  </div>
  <div class="col-md-6 left">
      <h3>My Paint</h3>
      <div class="blog">
        Application web de boite a outils pour dessins, type Paint.<br>
        <a href="http://paint.serlepsherab.fr/" type="button" class="button">SOURCE</a>
        <a href="https://github.com/serlep/paint" type="button" class="button">DEMO</a>
      </div>
  </div>
</div>

<div class="row project">
  <div class="col-md-6 secondblog">
    <img id="desktop" src="assets/secondblogdesktop.png" alt="desktop">
  </div>
  <div class="col-md-6 right">
    <h3>MyMAP</h3>
    <div class="blog">
      Réalisation d'un site de calcul d'itinéraires et localisation temps réal.<br>
      <a href="http://googlemap.serlepsherab.fr/" type="button" class="button">SOURCE</a>
      <a href="https://github.com/serlep/googlemap" type="button" class="button">DEMO</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 footer">
    <p>Copyright @ 2017 - Tous droits reservés -</p>
  </div>
</div>
