<h1>Faisons connaissance</h1>
<div class="row">
  <div class="col-md-12 container">
    <p>Vous souhaitez créer un site? Vous avez une question? Un commentaire?
      Contactez moi par e-mail. Je vous répondrai sous 24 heures.
        <a href="mailto:swangchuk98@gmail.com">envoyer un email</a>
    </p>
    <div class="blackout"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      <agm-info-window><strong>Je suis la!!!</strong></agm-info-window>
    </agm-map>
  </div>
</div>
<div class="row contact">
  <div class="col-md-6 container2">
    <div class="leftcontact">
      swangchuk98@gmail.com<br>
      07 58 43 51 94<br>
      92b boulevard du montparnasse
      75014 PARIS
    </div>
    <div class="blackout2"></div>
  </div>
  <div class="col-md-6">
    <div class="rightcontact">
      <h4>Suivi moi</h4>
      <div class="facebook">
        <a href="https://www.facebook.com/sherab.wangchuk.357"><img src="assets/facebook_logo.png" alt="facebook"></a>
      </div>
      <div class="insta">
        <a href="https://www.instagram.com/sherab90/"><img src="assets/Instagram.png" alt="instagram"></a>
      </div>
      <div class="github">
        <a href="https://github.com/serlep"><img src="assets/logo_github.png" alt="github"></a>
      </div>
      <div class="link">
        <a href="https://www.linkedin.com/in/sherab/"><img src="assets/Linkedin_logo.png" alt="linkedin"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 footer">
      <p>Copyright @ 2017 - Tous droits reservés -</p>
    </div>
  </div>
</div>
